<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{#isMobile}}
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="format-detection" content="telephone=no"/>
    {{/isMobile}}
    <title>{{ name }}</title>
  </head>
  <body>
  <container></container>
  <!-- built files will be auto injected -->
  </body>
</html>
